* { padding: 0; margin: 0; }

body {
 font-family: Calibri, Arial, Helvetica, sans-serif;
 font-size: 13px;
 background:url(Images/background.jpg);
}
#wrapper {
 margin:auto;
 width: 1200px;
 background:url(Images/wrapper.jpg);
}
#main {
 margin: 10px 10px 10px 10px;
 padding:0px;
 width:auto;
 background:url(Images/nav.jpg);
}
#header {
 width: 1200px;
 padding-bottom: 3px;
 height: 120px;
 background:url(Images/header.jpg);
}
#header-left {
 margin-top:40px;
 float:left;
 text-align:left;
 color:#FFCC00;
 font-size:30px;
 width:auto;
}
.spacer {
 height:70px;
 margin-top:-20px;
 float:right;
 margin-left:30px;
}
.logo {
 margin-top:40px;
 float:left;
 margin-left:20px;
 color:#FFFFFF;
 font-size:15px;
 letter-spacing:0px;
}
#header-right {
 margin-top:10px;
 float:right;
 text-align:center;
 color:#FFFFFF;
}
.language a:link {
 color: #FFFFFF;
 font-size:14px;
 text-decoration: none;
}
.language a:hover {
 color: #FFFFFF;
 font-size:16px;
 text-decoration: none;
}
.language a:visited {
 color: #FFFFFF;
 text-decoration: none;
}
#leftcolumn { 
 width: 225px;
 height: 115px;
 float: left;
 background: url(Images/globe.jpg);
}
#leftcolumn-sublinks {
 display: inline;
 width: 165px;
 height: 40px;
 float: left;
 margin-left:32px;
 background: url(Images/nav-sublinks.jpg);
}
.leftmenu-links {
 margin-left:15px;
 margin-top: 9px;
 font-size: 16px;
}
.leftmenu {
 display:inline;
 width: 197px;
 height:40px;
 float: left;
 background: url(Images/nav-links.jpg);
}
.leftmenu a:link {
 font-size: 16px;
 color: #3C4A57;
 text-decoration: none;
}
.leftmenu a:visited {
 color: #3C4A57;
 text-decoration: none;
}
.leftmenu a:hover {
 color: #3C4A57;
 text-decoration: underline;
}
#rightcolumn {
 display: inline;
 float: right;
 width: 955px;
 height:auto;
 min-height:600px;
 background: url(Images/content.jpg);
}
#footer { 
 width: 1200px;
 height: 90px;
 color:#7E98BB;
 text-align:center;
 background: url(Images/footer.jpg);
}
#privacy { 
 color:#7E98BB;
 text-decoration: none;
}
#table {
 margin: 5px 60px 5px 30px;
 font-size: 16px;
}
.table-row {
 vertical-align:middle;
 width:250px;
 height:70px;
}
.table-language {
 vertical-align:middle;
 width:150px;
 height:20px;
}
.paragraph {
 margin: 5px 60px 5px 30px;
 font-size: 20px;
}
#list {
 margin: 5px 60px 5px 30px;
 list-style-type:none;
}
.list-links {
 margin-right:20px;
 display:inline;
}
#h1 {
 margin: 35px 60px 10px 30px;
 font-size: 35px;
}
#h1n {
 font-size: 30px;
}
#h2 {
 margin: 10px 60px 10px 30px;
 font-size: 27px;
}
#h3 {
 margin: 10px 60px 10px 30px;
 font-size: 20px; 
}
 
.clear { clear: both; background: none; }